.menu{
    display:flex;
    justify-content: space-between;
    font-family: 'Lucida Sans';
    background-color: gray;
    flex-wrap:wrap;
    padding: 50px;
}

    a:link{
        color: red;
    }
    
    a:visited{
        color: green;
    }


.facts{
    display:flex;
    justify-content: space-between;
    border-radius: 100px;
    width: 310px;
    border:2px soid black;
    padding: 50px;
    margin: 30px ;

}

.bodyimg{
    font-family: serif;
    background-color: cadetblue;
    margin: 50px;
}

.main2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: chocolate;
    margin: 50px;
}
.main3{
  font-family: Arial, Helvetica, sans-serif;
  background-color: cornflowerblue;
  margin: 50px;
}
.main4{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: darkcyan;
    margin: 50px;
}

.main5{
    font-family: monospace;
    background-color: darksalmon;
    margin: 50px;
}
.fact{
    position: relative;
}

.facts li{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity:0;
}

.facts:hover li{
    opacity: 1;
}

.facts:hover img{
    opacity: 0.33;
} 
